*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background:linear-gradient(45deg,red,black,red);
}
.header{
    position: relative;
    display: flex;
    width: 100%;
    height: 80px;   
    background-color:black;
}
.logo{
    position: absolute;
    top:0;
    width: 80px;
    height: 100%;
    margin: 0;
    padding: 0;
}
.element{
    font-size: 20px;
    display: inline-block;
    padding: 24px 10px;
}
.element:hover{
    background-color: rgb(206, 26, 26);
}
.navbar{
    /* border: 2px solid red; */
    position: absolute;
    display:flex;
    height: 100%;
    right: 100px;
    justify-content: center;
    align-items: center;
}
a{
    color: white;
    text-decoration: none;
}

.form{
    width :620px;
    display: flex;
    position: relative;
    margin-left: 30%;
    border-radius: 5%;
    align-items: center;
    justify-content: center;
}
.inputh{
    display: block;
    color: white;
    background: rgb(40, 42, 53);
    border: red;
    padding: 10px;
    box-shadow: 0px 0px 25px 5px rgb(146, 4, 4);
    margin-top: 10px;
}
.inputh::placeholder{
    color: white;
}

#submit{
    margin-left: 35%;
}
#submit:hover{
    background: rgb(206, 26, 26);
    box-shadow: 0px 0px 25px 5px rgb(37, 34, 34);
}

.watchmain{
    position: absolute;
    margin-left: 25px;
    left: 0;
    width:300px;
    height:300px;
    border-radius: 5% ;
    display: inline-block;
    /* border: 2px solid white; */
}
.body{
    position: relative;
    margin-left: 30%;
    border: 2px solid transparent;
    height: 500px;
    width :620px;
    margin-top:50px;
    text-align: center;
    border-radius: 5% ;
    color: white;
    background: rgb(206, 26, 26);
    box-shadow: 0px 0px 25px 5px rgb(37, 34, 34);
}
h3{
    font-size: 35px;
}

.contant{
  position: relative;
    width:300px;
    height:300px;
    border-radius: 5% ;
    display: inline-block;
   left: 150px;
}
.icon{
    display: inline-block;
    margin: 10px;margin-top: 40px;
    width:70px;
    background-color: rgb(40, 42, 53);
    padding: 5px;
    border-radius: 5%;
}
.wimg{
    position: relative;
    margin-left: 100px;
}
.feature{
    text-align: center;
}
.i{
    width:100%;
    height:30px;
}

.footer{
     /* border: 2px solid magenta; */
     position: relative;
     text-align: center;
     margin-top:50px ;
     background-color: rgb(15, 15, 17);
     
    font-size: 17px;
     color: white;
}
.tag{
    position: absolute;
    right: 0;
}
.foot{
    padding:10px;
}
.foot:hover{
    background: rgb(230, 0, 0);
}
li{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
   
}
.copyright{
    margin-left: 50px;
}

.price{
    width :620px;
    position: relative;
    margin-left: 30%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.watchp{
    border-radius: 5%;
    margin: 20px;
    margin-left: 70px;
    width: 150px;
    height: 200px;
    text-align: center;
    color: white;
    background-color:rgb(40, 42, 53);
    box-shadow: 0px 0px 25px 5px rgb(240, 13, 13);
}

.pcontant{
    margin: 10px auto;
}

.pbtn{
    color: white;
    background-color:  rgb(206, 26, 26);
    border: 2px solid  rgb(206, 26, 26);
    width: 50px;
    padding: 5px;
}
.pbtn:hover{
    background-color: rgb(230, 0, 0);
}
.phead{
    background-color:rgb(189, 6, 6);
    color: white;
    margin-top: 0;
    font-size: 20px;
}